<div class="container">
  <!-- <p>Angular Fullstack v4.1.0 |
    <a href="http://angular-fullstack.github.io/generator-angular-fullstack">Documentation</a> |
    <a href="https://gitter.im/DaftMonk/generator-angular-fullstack">Chat on Gitter</a> |
    <a href="https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open">Issues</a> |
    <a href="https://opencollective.com/angular-fullstack">Donate to our Open Collective</a>
  </p> -->
  <div class="row" style="margin-top: 50px">
    <p>Created with <i class="fa fa-heart" aria-hidden="true"></i> by sabahang using Angular Fullstack Generator v4.1.0 |
      <a href="https://github.com/sabahang/">Github Link</a>
    </p>
  </div>
</div>
